module.exports = {
    TOKEN: "",
    SENTRY: "",
    LISTS: {
        botsDiscordPw: "",
        discordBotsOrg: "",
        carbonitexNet: "",
        novoArchboxPro: ""
    },
    RETHINKDBPASS: ""
}